{% extends "base/base.html" %}


{% block start %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
</head>
<body>
    <h2>User Details</h2>
    <ul>
        <li><strong>First Name:</strong> {{ user.first_name }}</li>
        <li><strong>Last Name:</strong> {{ user.last_name }}</li>
        <li><strong>Email:</strong> {{ user.email }}</li>
        <li><strong>Address Line 1:</strong> {{ user.address.first_line }}</li>
        <li><strong>Address Line 2:</strong> {{ user.address.second_line }}</li>
        <li><strong>ZIP Code:</strong> {{ user.address.zip_code }}</li>
        <li><strong>City:</strong> {{ user.address.city }}</li>
        <li><strong>State:</strong> {{ user.address.state }}</li>
    </ul>
</body>
</html>


{% endblock %}